body{
    position: relative;
}

#full {
    position: absolute;
    z-index: -1;
    width: 1430px;
    height: 4100px;
}

#page {
    width: 1430px;
    height: 4063px;
    margin: 0 auto;
}

header {
    background: url("../img/biz-header.jpg") ;
    background-size: cover;
    background-position: center center;
    width: 1430px;
    height: 486px;
}

.header {
    display: flex;
    width: 1430px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background: #013560;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

#header-link-01 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 0px 71.5px;
}

.header-link-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.header-link-text span{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 2px;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.42px;
    align-self: stretch;
}

.header-nav-box {
    display: flex;
    height: 70px;
    padding: 24px 0px 25px 0px;
    align-items: center;
}

.nav-text{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-link-02{
    display: flex;
    padding: 5px;
    align-items: flex-start;
    padding: 0px 71.5px 0px 0px;
}

.header-nav-box-1{
    display: flex;
    height: 70px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
}

.nav-symbol {
    margin-left: 7px;
}

#content{
    display: flex;
    padding: 0px 188.5px 0px 189.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 415px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.content-box {
    display: flex;
    padding: 100px 0px 1px 0px;
    flex-direction: column;
    align-items: center;
}

.content-box span {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.content-box-02 {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}

.content-box-02 span {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px
}

.content-button {
    display: flex;
    padding: 12px 30px 13px 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #013560;
}

.content-button span {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.content-box-03{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20.33px;
}

.content-box-04{
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}

.content-box-04 span {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.section-01 {
    width: 1287px;
    height: 486px;
    position: relative;
    overflow: hidden;
    margin: 20px 71.5px;
}

.slider {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #333;
}

#slide1 {
    background: url("../img/profile.jpeg");
    background-size: cover;
    background-position: center top;
    width: 1287px;
    height: 486px;
}

#slide2 {
    background: url("../img/profile.woman.jpeg");
    background-size: cover;
    background-position: center top;
    width: 1287px;
    height: 486px;
}

#slide3 {
    background: url("../img/profile.man.jpeg");
    background-size: cover;
    background-position: center top;
    width: 1287px;
    height: 486px;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


.content-div{
    position: absolute;
    top: 428px;
    width: 1287px;
    height: 58.75px;
    background-color: rgba(229, 235, 243, 0.80);
}

.section-button{
    display: inline-flex;
    background: none;
    padding: 16px 17px;
    flex-direction: column;
    align-items: center;
    border-radius: 22.92px;
    border: 2px solid #E5EBF3;
    position: absolute;
    top: 260px;
    left: 81px;
}

.section-button-2 {
    display: inline-flex;
    background: none;
    padding: 16px 17px;
    flex-direction: column;
    align-items: center;
    border-radius: 22.92px;
    border: 2px solid #E5EBF3;
    position: absolute;
    top: 260px;
    right: 81px; 
}

.section-about-us {
    display: inline-flex;
    padding: 30px 71.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-us-title {
    display: flex;
    padding: 1px 562.9px 5px 563.1px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
}

.about-us-text {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.about-us-text2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #013560;
    position: absolute;
    left: 627px;
    bottom: -5px;
}

.about-us-text3 {
    width: 100px;
    height: 1px;
    background: #013560;
}

.section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 40px;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.about-us-img {
    background-image: url(../img/biz-1.jpg);
    background-position: center;
    background-size: cover;
    width: 608.5px;
    height: 500px;
}

.box-about {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-about {
    width: 608.5px;
    height: 409.98px;
}

.text-box-1 {
    display: inline-flex;
    padding: 1px 135.5px 1px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.text-about-us {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

.text-box-2{
    display: inline-flex;
    padding: 0px 53.5px 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 14px;
}

.text-about-us-2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.text-box-3{
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 609px;
    height: 144px;
}

.text-about-us-3{
    color: #666;
    font-size: 17.3px;
    font-weight: 400;
    line-height: 28.8px;
}

.text-box-4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #013560;
    height: 46px;
    width: 188px;
    margin-top: 20px;
}

.text-about-us-4{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.section-our-service {
    display: inline-flex;
    padding: 30px 71.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.our-service-title {
    display: flex;
    padding: 1px 527.4px 5px 533.6px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
}

.our-service-text {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.our-service-text2{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #013560;
    position: absolute;
    left: 629.5px;
    bottom: -5px;
}

.our-service-text3 {
    width: 100px;
    height: 1px;
    background: #013560;
}

.our-service-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 1287px;
    height: 536px;
}

.our-service-nav {
    width: 402.33px;
    height: 248px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
}

.service-nav-img {
    display: inline-flex;
    padding: 0px 121.17px 3px 121.16px;
    margin: 30px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
}

.service-nav-img img {
    width: 100px;
    height: 100px;
    max-width: 100px;
}

.service-nav-text1 {
    display: inline-flex;
    padding: 0px 146.07px 0px 146.26px;
    flex-direction: column;
    align-items: center;
    margin: 10px 30px 5px 30px;
}

.service-nav-text1 span{
    color: #013560;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.service-nav-text2 {
    display: inline-flex;
    padding: 0px 4.43px 0px 4.9px;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px;
}

.service-nav-text2 span {
    color: #000;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
}

.our-team-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.our-team-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    width: 314px;
    height: 412px;
}

.our-team-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.our-team-img {
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    align-items: flex-start;
}

.our-team-img img {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.our-team-text-box {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.team-text1 {
    display: flex;
    padding: 1px 50.025px 0px 50.225px;
    flex-direction: column;
    align-items: center;
}

.team-text1 span {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.team-text2 {
    display: flex;
    padding: 5px 119.535px 11px 119.715px;
    flex-direction: column;
    align-items: center;
}

.team-text2 span {
    color: #7BB7C6;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.team-text3 {
    display: flex;
    padding: 10px 32.12px 0px 32.13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-symbol {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.section-touch {
    display: inline-flex;
    padding: 30px 71.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.touch-container {
    display: flex;
    width: 1287px;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

form {
    width: 643.5px;
    height: 534px;
}

.form-text1 {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
}

.form-text2 {
    padding: 12px 5px 13px 5px;
    border-bottom: 1px solid #333;
    margin-bottom: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.form-text3 {
    padding: 12px 5px 13px 5px;
    border-bottom: 1px solid #333;
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
    height: 150px;
}

.form-text4{
    padding: 12px 30px 13px 30px;
    border-radius: 10px;
    background: #013560;
    width: 60px;
    height: 20px;
    margin: 10px 0px 20px 20px;
}

.form-text4 span {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.input {
    border: none;
    width: 593.5px;
    height: 19px;
    padding-right: 0px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.textarea {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border: none;
    width: 600px;
    height: 100px;
}

.touch-iframe {
    display: flex;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.touch-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.touch-box {
    display: flex;
    height: 200px;
    padding: 0 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.touch-img {
    display: flex;
    width: 50px;
    height: 60px;
    padding: 5px 5px 15px 5px;
    justify-content: center;
    align-items: center;
}

.touch-text1 {
    display: flex;
    padding: 0px 0px 10px 0px;
    flex-direction: column;
    align-items: flex-start;
}

.touch-text1 span {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}

.touch-text2 {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
}

.touch-text2 span {
    color: #666;
    font-size: 16px;
    font-weight: 400;
}

footer {
    display: inline-flex;
    padding: 0px 71.5px;
    flex-direction: column;
    align-items: flex-start;
    background: #013560;
}

.footer {
    display: flex;
    padding: 20px 0px;
    align-items: flex-start;
    gap: 30px;
}

.footer-box {
    width: 409px;
    height: 226px;
}

.footer-box-header {
    display: inline-flex;
    padding: 0px 220.62px 20px 0px;
    align-items: center;
    gap: 10px;
}

.footer-box-header span{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 2px;
    padding-top: 12.5px;
}

.footer-box-main {
    display: inline-flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
}

.footer-box-main span {
    color: #FFF;
    padding: 12.5px 0px;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 24px
}

.footer-box-img {
    display: inline-flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.footer-image {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.footer-item {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
}

.footer-item-box {
    display: flex;
    padding: 1px 249px 20px 0px;
    flex-direction: column;
    align-items: flex-start;
}

.footer-item-text {
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 160px;
}

.footer-item-box-2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.item-link-box {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.item-link-text {
    display: flex;
    width: 194.5px;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
}

.item-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.footer-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer-info-box {
    display: flex;
    width: 409px;
    padding-right: 0px;
    align-items: center;
    gap: 10px;
}

.info-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.footer-content {
    display: flex;
    padding: 22px 0px 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    border-top: 2px solid #FFF;
    width: 1287px;
    margin-top: 20px;
}

.content-text-box {
    display: flex;
    padding: 1px 378.25px 0px 378.75px;
    flex-direction: column;
    align-items: center;
}

.content-text {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.content-icode {
    color: #7BB7C6;
    font-size: 20px;
    font-weight: 400;
}

/* sign up style */
.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.form-container {
    background-color: #e4e4e4;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 460px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 60px;
    background-color: rgb(21, 48, 98);
    color: white;
    border-radius: 8px 8px 0 0;
}

.sign-up-header {
    margin-left: 20px;
    margin-right: 20px;
}

.sign-up-header span {
    color: white;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}

.form-main {
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    border: none;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: none;
}

.form-main p {
    margin: 0 0 10px 0;
}

.submit-btn {
    background-color:  rgb(21, 48, 98);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}
/* sign up style */