#page {
    width: 1430px;
    height: 4063px;
}

header {
    background: url("../img/biz-header.jpg") ;
    background-size: cover;
    background-position: center center;
    width: 1430px;
    height: 486px;
}

.header {
    display: flex;
    width: 1430px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background: #013560;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

#header-link-01 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 0px 71.5px;
}

.header-link-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.header-link-text span{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 2px;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.42px;
    align-self: stretch;
}

.header-nav-box {
    display: flex;
    height: 70px;
    padding: 24px 0px 25px 0px;
    align-items: center;
}

.nav-text{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-link-02{
    display: flex;
    padding: 5px;
    align-items: flex-start;
    padding: 0px 71.5px 0px 0px;
}

.header-nav-box-1{
    display: flex;
    height: 70px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
}

.nav-symbol {
    margin-left: 7px;
}

#content{
    display: flex;
    padding: 0px 188.5px 0px 189.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 415px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.content-box {
    display: flex;
    padding: 100px 0px 1px 0px;
    flex-direction: column;
    align-items: center;
}

.content-box span {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.content-box-02 {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}

.content-box-02 span {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px
}

.content-button {
    display: flex;
    padding: 12px 30px 13px 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #013560;
}

.content-button span {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.content-box-03{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20.33px;
}

.content-box-04{
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}

.content-box-04 span {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.section-01 {
    width: 1287px;
    height: 486px;
    padding: 20px 71.5px;
    position: relative;
}

#section-background {
    background: url("../img/profile.jpeg");
    background-size: cover;
    background-position: center top;
    width: 1287px;
    height: 486px;
}

.content-div{
    position: absolute;
    top: 448px;
    width: 1287px;
    height: 58.75px;
    background-color: rgba(229, 235, 243, 0.80);
}

.section-button{
    display: inline-flex;
    background: none;
    padding: 16px 17px;
    flex-direction: column;
    align-items: center;
    border-radius: 22.92px;
    border: 2px solid #E5EBF3;
    position: absolute;
    top: 260px;
    left: 81px;
}

.section-button-2 {
    display: inline-flex;
    background: none;
    padding: 16px 17px;
    flex-direction: column;
    align-items: center;
    border-radius: 22.92px;
    border: 2px solid #E5EBF3;
    position: absolute;
    top: 260px;
    right: 81px; 
}

.section-about-us {
    display: inline-flex;
    padding: 30px 71.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-us-title {
    display: flex;
    padding: 1px 562.9px 5px 563.1px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
}

.about-us-text {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.about-us-text2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #013560;
    position: absolute;
    left: 627px;
    bottom: -5px;
}

.about-us-text3 {
    width: 100px;
    height: 1px;
    background: #013560;
}

.section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 40px;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.about-us-img {
    background-image: url(../img/biz-1.jpg);
    background-position: center;
    background-size: cover;
    width: 608.5px;
    height: 500px;
}

.box-about {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-about {
    width: 608.5px;
    height: 409.98px;
}

.text-box-1 {
    display: inline-flex;
    padding: 1px 135.5px 1px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.text-about-us {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

.text-box-2{
    display: inline-flex;
    padding: 0px 53.5px 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 14px;
}

.text-about-us-2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.text-box-3{
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 609px;
    height: 144px;
}

.text-about-us-3{
    color: #666;
    font-size: 17.3px;
    font-weight: 400;
    line-height: 28.8px;
}

.text-box-4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #013560;
    height: 46px;
    width: 188px;
    margin-top: 20px;
}

.text-about-us-4{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}