{% extends "base.html" %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="flex justify-between border-solid border-b-2 text-[25px]">
    <div class="m-[40px] text-blue-600">Newspaper</div>
    <div class="flex items-center mr-[40px]">
        <div class="flex rounded-[5px] m-4 border-solid border-[#3582ee] border-2">
            <a href="{% url 'login' %}" class=" text-[20px] mx-[10px] my-[5px] text-[#3582ee]">Log In</a>
        </div>
        <div class="flex  bg-[#3582ee] border-[#3582ee] rounded-[5px] border-solid border-2">
            <a href="{% url 'signup' %}" class="text-[20px] mx-[10px] my-[5px] text-[#ffffff]">Sign Up</a>
        </div>
    </div>
</div>

<h1 class="m-[10px] text-[30px]">Log In</h1>
<form method="post">{% csrf_token %}
    <div class="my-[10px]">Username:</div>
    <input class="w-[1000px] rounded-[10px] border-none" {{ form.username }}
        
    <div class="my-[10px]">Password:</div>
    <input class="w-[1000px] rounded-[10px] border-none" {{ form.password }}

    <button class="flex rounded-[5px] my-4 border-solid border-[#1e8146] bg-[#1e8146] border-2" type="submit">
        <p class="mx-[20px] my-[5px] text-[#ffffff]">Log In</p>
    </button>
</form>
{% endblock content %}
