* {
    background-color: rgb(225, 225, 225);
}

#tom {
    position: relative;
}

#image {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left: 100px;
    margin-top: 30px;
}

#borderleft1 {
    border-left: 1px solid black;
    height: 80px;
    position: absolute;
    left: 320px;
    top: 20px;
}

#borderleft2 {
    border-left: 1px solid black;
    height: 15px;
    position: absolute;
    left: 320px;
    top: 200px;
}

.dugui1 {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: black;
    color: white;
    position: absolute;
    top: 300px;
    text-align: center;
    top: 107px;
    left: 310px;
}

.dugui2 {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: black;
    color: white;
    position: absolute;
    top: 300px;
    text-align: center;
    top: 140px;
    left: 310px;
}

.dugui3 {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: black;
    color: white;
    position: absolute;
    top: 300px;
    text-align: center;
    top: 174px;
    left: 310px;
}

#elon {
    position: absolute;
    top: 10px;
    left: 350px;
}

#elon h1 {
    margin-bottom: 5px;
}

#jijig2 {
    position: relative;
}

#from {
    text-align: left;
    
}

#borderleft3 {
    border-left: 1px solid black;
    height: 80px;
    position: absolute;
    left: 320px;
    top: 20px;
}
