{% extends "base.html" %}
{% block title %} Password Change Successful {% endblock title %}
{% block content %}
<div class="flex justify-between border-solid border-b-2 text-[25px]">
    <div class="flex">
        <div class="m-[40px] text-blue-600">Newspaper</div>
        <div class="my-[40px]">+ New</div>
    </div>
    <div class="flex gap-[4px] items-center m-[40px]">
        <p>wsv</p>
        <img class="w-[20px] h-[20px]" src="https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png" alt="s">
    </div>
</div>
<h1 class="text-[40px]">Password change successful</h1>
<p>Your password was changed.</p>
{% endblock content %}