{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Password  Change{% endblock title %}
{% block content %}
<div class="flex justify-between border-solid border-b-2 text-[25px]">
    <div class="flex">
        <div class="m-[40px] text-blue-600">Newspaper</div>
        <div class="my-[40px]">+ New</div>
    </div>
    <div class="flex gap-[4px] items-center m-[40px]">
        <p>wsv</p>
        <img class="w-[20px] h-[20px]" src="https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png" alt="s">
    </div>
</div>
<h1 class="text-[40px]">Password change</h1>
<p class="my-[20px]">Please enter your old password, for security's sake, and then enter your new password twice so we verify you typed it in correctly.</p>
<form method="POST">{% csrf_token %}
    <div class="my-[10px]">Old password:</div>
    <input class="w-[1000px] rounded-[10px] border-solid border-[#c9c9c9]" {{ form.password }}>
    <div class="my-[10px]">New password:</div>
    <input class="w-[1000px] rounded-[10px] border-solid border-[#c9c9c9]" {{ form.password }}>
    <ul class="text-[grey] list-disc">
        <li>Your password can't be tooo similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
    </ul>
    <div class="my-[10px]">New password confirmation :</div>
    <input class="w-[1000px] rounded-[10px] border-solid border-[#c9c9c9]" {{ form.password }}>
<button class="flex rounded-[5px] my-4 border-solid border-[#1e8146] bg-[#1e8146] border-2" type="submit">
    <p class="mx-[20px] my-[5px] text-[#ffffff]">Change my password</p>
</button> </form>

{% endblock content %}