{% extends "base.html" %} {% block content %}
<h1 style="text-align: center;">Info Page</h1>
<header>
    <h4 style="text-align: center; color: brown">Mэдээлэл</h4>
</header>
<p>
    ashdljfkasdlfhjkasldjfh
</p>
<p>
    alsdhjfalsdjkfhlsdkfjh
</p>
<table>
    <th>
        <tr>
            <td>asdf</td>
            <td>asdf</td>
        </tr>
        <tr>
            <td>dfgj</td>
            <td>fghj</td>
        </tr>
        <tr>
            <td>erty</td>
            <td>erty</td>
        </tr>
    </th>
</table>
{% endblock content %}