{% extends "base.html" %}
{% block title %} Article {% endblock title %}
{% block content %}
<div class="m-auto w-[1000px]">
    {% for article in article_list %}
    <div class="w-[1000px] mt-5 m-auto border-[2px] border-solid rounded-[10px]">
        <div class="bg-[#ececec] p-2 border-b-[2px] border-solid">
            <span class="font-weight-bold">{{ article.title }}</span> &middot;
            <span class="text-muted text-[grey]">by {{ article.author }} | {{ article.date }}</span>
        </div>
        <div class="p-4">{{ article.body }}</div>
        <div class="bg-[#ececec] p-2 border-t-[2px] border-t-solid text-center text-muted">
            <a class="text-blue-600" href="{% url 'article_edit' article.pk %}">Edit</a> | 
            <a class="text-blue-600" href="{% url 'article_delete' article.pk %}">Delete</a>
        </div>
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}