{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Forgot Your Password?{% endblock title %}
{% block content %}

<h1 class="text-[40px]">Forgot your password?</h1>
<p class="my-[10px]">Enter your email address below, and we'll email instructions for setting a new one.</p>
<form method="POST">{% csrf_token %}
    <div class="my-[10px]">Email:</div>
    <input class="w-[1000px] rounded-[10px] border-solid border-[#c9c9c9]" {{ form.email }}>
    <button class="flex rounded-[5px] my-4 border-solid border-[#1e8146] bg-[#1e8146] border-2" type="submit">
        <p class="mx-[20px] my-[5px] text-[#ffffff]">Send me instructions!</p>
    </button>
</form>
{% endblock content %}